name: Test

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pipenv"

      - name: Install pipenv + deps
        run: |
          python -m pip install --upgrade pip
          python -m pip install pipenv
          pipenv --python "$(which python)" install --dev

#      # Non-interactive Docker login (Docker Hub example)
#      - name: Log in to Docker Hub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ secrets.DOCKERHUB_USER }}
#          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Run tests
        run: make test-ci
